extends layout

block content
  header.header-home.relative.items-center.h-screen
    nav.flex.justify-center.items-center.pt-20.max-w-screen-xl.m-auto
      .flex.flex-row.justify-center.w-auto.mr-auto
        img(src="../images/alpha-ai_color.svg", alt="Alpha.ai Logo").w-10.h-auto.mb-2
        .font-sans.font-thin.text-4xl.text-white.hover_text-yellow-500.cursor-pointer.duration-150.ml-2 Alpha.ai
      .mr-20
        a.text-white.hover_text-gray-500.cursor-pointer.duration-150 Technology
      .mr-20
        a.text-white.hover_text-gray-500.cursor-pointer.duration-150 Industries
      .mr-20
        a.text-white.hover_text-gray-500.cursor-pointer.duration-150 Company
      .mr-20
        a.text-white.hover_text-gray-500.cursor-pointer.duration-150 Careers
      .mr-0
        a.text-white.hover_text-gray-500.cursor-pointer.duration-150 Contact Us
    section.flex.justify-center.items-start.mt-20.m-auto.max-w-screen-xl
      article.flex.flex-col.mr-32
        h1.text-6xl.text-white.mb-10 AI everywhere on every device.
        p.text-yellow-500 For too long AI has been limited, preventing it from being used in everyday devices. We believe in a world where the power of AI should be readily available for everyone on every device.
        button.bg-yellow-500.duration-150.hover_bg-yellow-600.text-black.font-bold.w-32.py-3.px-4.rounded-full.m-auto.mt-10 Get Started
      .ml-8.w-full
        img(src="../images/alpha-ai_devices.svg", alt="Alpha.ai Devices").h-auto
  .bg.relative.items-center.h-screen
    h1.text-6xl.text-white.mb-10.max-w-screen-xl.pt-20.m-auto We deliver scaled machine learning solutions.
    section.flex.justify-center.items-start.mt-20.m-auto.max-w-screen-xl
      .mr-8.w-full
        img(src="../images/alpha-ai_robot.svg", alt="Alpha.ai Robot").h-auto
      article.flex.flex-col
        h3.text-2xl.text-white.mt-10 Turn hardware into smartware
        p.text-yellow-500.mt-5 Designed to run in resource-constrained environments, Alpha's models add AI functionality into a wide range of hardware platforms and already deployed devices.
        h3.text-2xl.text-white.mt-10 Deliver insights, not security risks
        p.text-yellow-500.mt-5 With our on-device AI, data never has to leave the device. This means better end-user experiences, radically faster insights, and uncompromised security.
        h3.text-2xl.text-white.mt-10 Performance over cost and complexity
        p.text-yellow-500.mt-5 Alpha's AI models are much faster, more efficient with power and memory, virtually hardware agnostic, and easy to deploy, maintain, and update to scale with your business.
  .bg.relative.items-center.h-screen
    h1.text-6xl.text-white.mb-10.max-w-screen-xl.m-auto We empower devices across the hardware spectrum.
    section.flex.flex-col.justify-center.items-start.m-auto.max-w-screen-xl
      .embedded.m-auto
        img(src="../images/alpha-ai_embedded.svg", alt="Alpha.ai Embedded").h-auto
      article.flex.flex-row.pt-20.mb-20
        p.text-yellow-500.mr-8 Traditional deep learning AI models are computationally intensive. They rely on GPUs and are often restricted to running in data centers in the cloud. Our novel approach re-trains state-of-the-art machine learning models to run efficiently in resource-constrained environments without compromising accuracy.
        p.text-yellow-500 Built with hardware in mind, we create models designed to run smartly and efficiently in resource-constrained environments. Our team of deep learning researchers work side-by-side with our core engineers and hardware engineers to ensure models reach stunning levels of efficiency across a range of platforms.
  section.margin-reduce.absolute.bg-yellow-500.rounded-lg.max-w-screen-xl.text-center.px-20
    h1.text-black.text-6xl.text-center.py-3 AI-enable your devices today.
    button.bg-black.text-white.border-2.border-black.duration-150.hover_bg-yellow-500.hover_text-black.text-1xl.font-bold.w-42.py-4.px-8.rounded-full.mb-10.m-auto Get Started
  .items-center
    .flex.max-w-screen-lg.mb-4.pt-48.m-auto
      .w-1-4
        h2.uppercase.font-bold Products
        h2.uppercase.text-gray-600.text-lg.mt-20.hover_underline.cursor-pointer Comply
        h2.uppercase.text-gray-600.text-lg.mt-6.hover_underline.cursor-pointer Deploy
        h2.uppercase.text-gray-600.text-lg.mt-6.hover_underline.cursor-pointer Pricing
      .w-1-4
        h2.uppercase.font-bold Technology
        p.text-gray-600.mt-20.hover_underline.cursor-pointer Smart Home
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Retail
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Solar-Powered AI
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Face Recognition
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Object Detection
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Person-Vehicle Detection
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Segmentation
      .w-1-4
        h2.uppercase.font-bold Resources
        p.text-gray-600.mt-20.hover_underline.cursor-pointer Customers
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Blog
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Compliance Guides
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Support
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Changelog
      .w-1-4
        h2.uppercase.font-bold Company
        p.text-gray-600.mt-20.hover_underline.cursor-pointer About
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Careers
        p.text-gray-600.mt-2.hover_underline.cursor-pointer Legal
    .flex.items-end.max-w-screen-lg.mb-20.mt-32.m-auto
      .w-1-4
      .w-1-4.flex.flex-row.items-end
        img(src="../images/alpha-ai_gray.svg", alt="Alpha.ai Logo Gray").w-12.h-auto.pr-2.mb-1
        h2.uppercase.text-gray-600 &copy; 2020 Alpha.ai
      .w-1-4
        p.text-gray-600.hover_underline.cursor-pointer Terms of Service
      .w-1-4
        p.text-gray-600.hover_underline.cursor-pointer Privacy Policy