/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.header-home {
  background: #0a1b2b url("../images/alpha-ai_dots.svg") no-repeat bottom/auto;
}

.bg {
  background: #0a1b2b;
}

.embedded {
  width: 70%;
}

.margin-reduce {
  margin-top: -108px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.last-col {
  width: 101px;
}