/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.header-home {
  background: #0a1b2b url("../images/alpha-ai_dots.svg") no-repeat bottom/auto;
}

.bg {
  background: #0a1b2b;
}

.embedded {
  width: 58%;
}